@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900;1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900;1000&display=swap');

:root {
  --white-color: #f2f3f6;
  --black-color: #060620;

  --tinttwo-primary-color: #bce4e1;
  --tintone-primary-color: #78c9c2;
  --primary-color: #1ea59a;
  --shadeone-primary-color: #12635c;
  --shadetwo-primary-color: #09312e;

  --gray-color: #b2b5c9;
  --dark-gray-color: #4a4c53;

  --blue-color: #91e9e2;
  --orange-color: #f68328;
  --shadeone-orange-color: #944f18;
  --yellow-color: #feb800;

  --transition-duration: 0.7;

  --font-family: "Nunito", 'Segoe UI', Verdana, sans-serif;
  --font-family-header: "Rubik", "Nunito", 'Segoe UI', Verdana, sans-serif;

  --font-size-xxl: 4.5rem;
  --font-size-xl: 3.4rem;
  --font-size-l: 2.8rem;

  --button-outline: inset 0 0 0 0.2rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  color: var(--white-color);
  background-color: var(--shadeone-primary-color);
}

html {
  font-size: 62.5%
}

body {
  font-family: var(--font-family);
}

img {
  min-width: 100%;
}

.list {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--dark-gray-color);
  transition: color 0.2s;
  display: inline-block;
  border-radius: 0.7rem;
}

a:hover {
  color: var(--primary-color);
}

a:active {
  color: var(--shadeone-primary-color);
}

.wrapper {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

svg {
  height: 2rem;
  width: 2rem;
}

.button-link:link,
.button-link:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 0.7rem;
  color: #fff;
  background-color: var(--primary-color);
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  box-shadow: none;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.button-link:hover {
  background-color: transparent;
  box-shadow: var(--button-outline) var(--primary-color);
  color: var(--primary-color);
}

.button-link:active {
  background-color: transparent;
  box-shadow: var(--button-outline) var(--shadeone-primary-color);
  color: var(--shadeone-primary-color);
}

.header-primary,
.header-secondary,
.header-teritiary {
  font-weight: 700;
  color: var(--black-color);
  font-family: var(--font-family-header);
  letter-spacing: -0.7px;
}

.header-primary {
  font-size: var(--font-size-xxl);
}

.header-secondary {
  font-size: var(--font-size-xl);
}

.header-teritiary {
  font-size: var(--font-size-l);
}